language: haskell

before_script:
  - cp setting-dummy.yml setting.yml

script:
  - ~/.cabal/bin/cabal-dev configure
  - ~/.cabal/bin/cabal-dev build

install:
  - cabal install cabal-dev
  - ~/.cabal/bin/cabal-dev install --only-dependencies --force-reinstalls #FIXME